# dbname is the full filename of the database file
dbname = dla.db

# dbuser is the username used to connect to the database
dbuser = dla

# dbpass is the password used to connect to the database
dbpass = lamepass
